* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 50px;
    height: auto;
}

#shuttle {
    position: absolute;
    bottom: 0;
    left: 50vw;
}

#laser {
    display: none;
    position: absolute;
    left: 50vw;
    top: 85vh;
}

#laser.visible {
    display: block;
}

.invader {
    position: absolute;
    left: 50vw;
    top: 2vh;
}

.infos {
    position: absolute;
    left: 80vw;
    top: 5vh;
    display: flex;
    align-items: center;
}

#life {
    color: red;
}

#score {
    font-family: 'Press Start 2P', cursive;
    margin-left: 30px;
}